<!--The content below is only a placeholder and can be replaced.-->

<!--<ul>-->
<!--<li><a routerLink="" routerLinkActive="active">Home</a></li>-->
<!--<li><a routerLink="about/48" routerLinkActive="active">About</a></li>-->
<!--</ul>-->
<div class="site-outer">
    <app-app-header></app-app-header>
    <div class="site-inner">
        <section class="container-fluid">

            <div class="row">
                <router-outlet></router-outlet>

            </div>

        </section>
    </div>
    <app-app-nav title="Gerry"></app-app-nav>
</div>
